@{
    ViewBag.Title = "AboutUs";
}


<!DOCTYPE html>
<html>
<head>
    <title>About Us Section</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>About Us</h1>
                </div>
                <div class="content">
                    <h3>SSB Online Bank</h3>
                    <p>
                        Online SSB is the Internet banking portal
                        for Our State Service Bank. The portal provides
                        anywhere, anytime, online access to accounts
                        for Our Bank's Retail and Corporate customers.
                        The application is developed using the latest cutting edge
                        technology and tools.
                        <br><br>
                        It enables customers to
                        <br>
                        <ul>
                            <li>Online balance check and transaction information.</li>
                            <li>Save or view up to 1 year past history of transaction.</li>
                            <li>Funds transfer.</li>
                            <li>Online record Entry.</li>
                            <li>Online record search.</li>
                            <li>Online Billing Option.</li>
                        </ul>
                      


                    </p>
                    <div class="button">
                        <a href="https://retail.onlinesbi.com/sbijava/retail/html/aboutus.html">Read More</a>
                    </div>
                </div>
                <div class="social">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="image-section">
                <img src="~/Content/images/img one.jpg">
            </div>
        </div>
    </div>


</body>
</html>
