
body {
	padding: 0;
	margin-top:0;
	background: url(../images/1.jpg)no-repeat 0px 0px;
	background-size: cover;
	background-attachment: fixed;
	background-position: 50% 50%;
	
}
body {
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	
	font-family: sans-serif;
}
input[type="button"],input[type="submit"],input [type="text"],input [type="email"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	font-family: sans-serif;
}
h1,h2,h3,h4,h5,h6{
	margin:0;		
	padding:40px;
	font-weight:100;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	font-family:  sans-serif;
	
	
}	
.clear {
	clear:both;
}
span{
	margin:0;
	font-family: sans-serif;
}


ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
	font-family: sans-serif;
}
.text-center {
	text-align:center;
}
img {
	width: 100%;
	filter: blur(8px);
}


.link {
	float:right;
}

.agile-heading h1 {
	font-size: 50px;
	font-weight: 50;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: 1px;
	color: #fff;
	margin-top: -30px;
}
.agile-form {
   width: 40%;
    margin: 0 auto;
    float: right;
    background: rgba(255, 255, 255, 0.75);
    padding: 2em;
    margin-right: 5%;
    box-sizing: border-box;
}
.agile-form1 {
	width: 28%;
	margin: -20px auto;
	
	float: right;
	background: rgba(255, 255, 255, 0.75);
	padding: 1em;
	margin-right: 5%;
	box-sizing: border-box;
}
.agile-form2 {
	width: 28%;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.75);
	padding: 2em;

	box-sizing: border-box;
	display: flex;
	justify-content: center;
}
.forgotbtn {
	padding: 15px 10px;
	width: 200%;
	float: left;
}
p {
    font-size: 16px;
    font-weight: 100;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 5px 0;
    padding: 0;
    color: #7d1010;
}
input[type="email"],input[type="password"]{
    font-size: 15px;
    font-weight: 100;
    text-align: left;
    text-transform: capitalize;
    padding: 0.5em 0.5em;
    width: 100%;
    margin: 0 auto 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
	background: white;
    color: #fff;

	
}



.Heading {
	color: black;
	/*font-weight: 200;*/
}

.agile-title {
	width: 20%;
	float: left;
}
.agile-fname {
	width: 37%;
	float: left;
	margin-left: 2.5%;
}
.agile-colone {
	width: 90%;
	
}
.agile-coltwo
{
	width: 48%;
	float: left;
	margin: 0 1%;
}
.agile-col3 {
	width: 31%;
	float: left;
	margin: 0 1%;
}
.agile-lname {
    width: 37.5%;
    float: left;
	margin-left:2.5%;
}

.loginbtn {
	padding: 15px 10px;
	width: 80%;
	float: left;
}
.Registerbtn {
	padding: 15px 10px;
	width: 80%;
	float: left;
}

.agile-submit, input[type="submit"] {
	font-size: 20px;
	font-weight: 100;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: 1px;
	padding: 0.4em 0.4em;
	width: 40%;
	margin: 0.5em auto 0;
	border: none;
	outline: none;
	cursor: pointer;
	//box-sizing: border-box;
	float: left;
}
::-webkit-input-placeholder{
	color:rgba(255, 255, 255, 0.71);
}
.image img {
    width: 4%;
    margin-right: 0.5%;
	vertical-align:baseline;
}
label {
    color: #f9c13f;
    text-transform: uppercase;
}
input[type="submit"]:hover {
    background: #1ea5a0;
    color: #fff;
    transition: 0.5s cubic-bezier(0.42, 0, 0.4, 1.02);
}

